* {
  box-sizing: border-box;
  font-family: helvetica;
}
.item {
  width: 600px;
  height: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.item img {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 1;
  bottom: 0;
  transition: bottom .5s;
}
.item .caption {
  width: 100%;
  height: 200px;
  background-color: firebrick;
  position: relative;
  z-index: 9;
  top: 100%;
  padding: 5px 20px;
  transition: top .5s;
}
.item .caption h3 {
  color: white;
  margin: 10px 0;
}
.item .caption p {
  color: white;
  margin: 0;
  font-style: italic;
}
.item .caption a {
  color: white;
  float: right;
  background-color: orange;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  transition: transform .5s;
}
.item .caption a:hover {
  transform: scale(1.2)
}
.item:hover img {
  bottom: 50px;
}
.item:hover .caption {
  top: 50%;
}
